.h1 {
  font-size: 32px;
  line-height: 1.75;
  
  @media screen and (min-width: $lg) {
    font-size: 48px;
    line-height: 1.2;
  }
}

.h2 {
  font-size: 24px;
  line-height: 1.4;
}

.h3 {
  font-size: 20px;
  line-height: 1.4;
}

.h1, .h2, .h3 {
  color: $text;
  font-weight: 700;
}

.subHeading {
  font-size: 18px;
  line-height: 1.8;
  color: $subText;
  font-weight: 500;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: $primary;
}

.flex {
  display: block;
  
  @media screen and (min-width: $lg) {
    display: flex;
  }
}

.flex-1 {
  flex: 1;
}

.align-center  {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.bg-blue {
  background-color: $bg-blue;
}

.bg-lightblue {
  background-color: $bg-lightblue;
}

.overflow-hidden {
  overflow: hidden;
}

.show-lg {
  display: none;
  
  @media screen and (min-width: $lg) {
    display: block;
  }
}

.hide-lg {
  display: block;

  @media screen and (min-width: $lg) {
    display: none;
  }
}