$white: #FFFFFF;
$primary: #09A6F3;
$dark: #1D293F;

// background
$bg-main: $white;
$bg-blue: #E9F7FE;
$bg-lightblue: #F5FAFD;

// text
$text: $dark;
$subText: #7C8087;

// elementary
$fieldBorder: #969696;