@import 'common';
@import 'form';

.hero {
  max-width: 1360px;
  margin: 0 24px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 0;

  &__img {
    min-height: 535px;
    object-fit: cover;
  }

  &__text-container {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 36px;
    transform: translateY(0);
  }

  &__arrow {
    width: 10px;
  }

  &__inner {
    margin-left: 16px;
  }

  &__text {
    color: white;
    
    &--main {
      font-weight: 700;
      line-height: 1;
      margin-bottom: 20px;
      font-size: 40px;
    }

    &--sub {
      line-height: 34px;
      margin-bottom: 20px;
      font-size: 16px;
    }
  }

  &__overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: linear-gradient(to left, transparent 42%, rgba(18, 27, 33, 0.75));
  }

  @media screen and (min-width: $lg) {
    margin-bottom: -100px;

    &__img {
      min-height: none;
    }

    &__inner {
      margin-left: 100px;
    }

    &__text-container {
      bottom: 50%;
      transform: translateY(50%);
    }

    &__arrow {
      width: auto;
    }

    &__text {
      &--main {
        font-size: 70px;
      }

      &--sub {
        font-size: 20px;
      }
    }
  }
}

.features {
  display: block;
  padding-top: 64px;
  padding-bottom: 64px;

  @media screen and (min-width: $lg) {
    padding-top: 220px;
    padding-bottom: 120px;
    display: flex;
    justify-content: space-between;
  }
}

.feature {
  flex: 1;

  &__img {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;

    width: 96px;
    height: 96px;
    background-color: $primary;
    box-shadow: 0px 32px 54px 0px rgba(#258AFF, 0.22);

    margin-bottom: 36px;

    img {

    }
  }

  &__header {
    margin-bottom: 20px;
  }

  &__description {
    color: $subText;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.75;
  }

  +.feature {
    margin-top: 54px;
  }

  @media screen and (min-width: $lg) {
    max-width: 270px;

    +.feature {
      margin-top: 0;
    }
  }
}

.images {
  display: block;
  margin-top: 32px;

  &__item {
    position: relative;

    h3 {
      margin-left: 10%;
    }

    
    &:nth-child(2) {
      margin-top: 10%;

      .images__img {
        left: -12%;
      }
    }
  
    &:nth-child(3) {
      margin-top: 15%;

      .images__img {
        left: -12%;
      }
    }

  }

  &__arrow {
    position: absolute;
    width: 31%;
    left: 9%;
    top: 102%;

    &-down {
      position: absolute;
      left: 61%;
      top: 100%;
      transform: scaleX(-1) rotate(13deg);
      width: 32%;
    }
  }

  &__img {
    position: relative;
    max-width: none;
    width: 125%;
    margin-bottom: -17%;
    left: -10%;
  }


  @media screen and (min-width: $lg) {
    margin-top: 50px;
    display: flex;

    &__item {

      &:nth-child(1) {

        h3 {
          margin-left: 4%;
        }
      }
  
      &:nth-child(2) {
        margin-top: 14%;
        
        h3 {
          margin-left: 7%;
        }
      }
    
      &:nth-child(3) {
        margin-top: 33%;
    
        h3 {
          margin-left: 7%;
        }
      }
    }

    &__img {
      left: -15%;
    }

    &__arrow {
      left: 73%;
      top: 33%;

      &-down {
        transform: none;
        left: 82%;
        top: 18%;
        width: 75%;
      }
    }
  }
}

